<?xml version="1.0" encoding="UTF-8"?>

<!-- Configuration file for logback -->

<configuration scan="true" scanPeriod="60 seconds">

  <property name="appname" value="restaurant"></property>

  <property name="logPattern" value="[D: %d{ISO8601}] [P: %-5p] [C: %X{correlationId}] [T: %t] [L: %c] - [M: %m]  %n"/>

  <property name="rollingPattern" value="%d{yyyy-MM-dd_HH}"></property>

  <property name="filePath" value="${java.io.tmpdir}"></property>

  <property name="errorLogFile" value="error_log_${HOSTNAME}_${appname}"></property>

  <property name="infoLogFile" value="info_log_${HOSTNAME}_${appname}"></property>

  <property name="debugLogFile" value="debug_log_${HOSTNAME}_${appname}"></property>

  <property name="consoleDisabled" value="${log.console.disabled}"></property>

  <!-- Automatic removal of old log archives maxHistory=... needed? -->
  <!-- RollingFileAppender: Automatic compression of archived log files -->
  <!-- Prudent mode needed? (multiple FileAppender instances running on multiple JVMs can safely write to the same log file) -->
  <!-- Logback-beagle: eclipse plug-in for viewing logs -->

  <appender name="ERROR_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${filePath}${errorLogFile}.log</File>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>WARN</level>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${filePath}${errorLogFile}_${rollingPattern}00.log</fileNamePattern>
    </rollingPolicy>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="io.oasp.module.logging.common.impl.SingleLinePatternLayout">
        <pattern>${logPattern}</pattern>
      </layout>
    </encoder>
  </appender>

  <appender name="INFO_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${filePath}${infoLogFile}.log</File>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${filePath}${infoLogFile}_${rollingPattern}00.log</fileNamePattern>
    </rollingPolicy>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="io.oasp.module.logging.common.impl.SingleLinePatternLayout">
        <pattern>${logPattern}</pattern>
      </layout>
    </encoder>
  </appender>

  <appender name="DEBUG_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${filePath}${debugLogFile}.log</File>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ALL</level>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${filePath}${debugLogFile}_${rollingPattern}00.log</fileNamePattern>
    </rollingPolicy>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="io.oasp.module.logging.common.impl.SingleLinePatternLayout">
        <pattern>${logPattern}</pattern>
      </layout>
    </encoder>
  </appender>

  <if condition='!property("consoleDisabled").equalsIgnoreCase("true")'>
    <then>
      <appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
          <pattern>${logPattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
          <level>DEBUG</level>
        </filter>
      </appender>
      <root level="DEBUG">
        <appender-ref ref="CONSOLE_APPENDER"/>
      </root>
    </then>
  </if>

  <root level="DEBUG">
    <appender-ref ref="ERROR_APPENDER"/>
    <appender-ref ref="INFO_APPENDER"/>
    <appender-ref ref="DEBUG_APPENDER"/>
  </root>

  <logger name="org.springframework" level="DEBUG"/>

  <logger name="org.dozer" level="INFO"/>

</configuration>
